.search-and-users .fa-solid:hover,
.search-and-users .fa-solid:active{
  filter: drop-shadow(0 0 4px #2ea6ff);
  background-color: transparent;
}

.search-and-users .fa-solid{
  color: white;
  margin: 0px 8px 0px 0px;
  background-color: transparent;
}

/* تنظیمات موبایل */
@media (max-width: 595px) {
  .search-and-users .fa-solid {
    font-size: 22px;
    margin: 0px 12px;
  }
}